<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="/static/images/checked.png" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/checklist.css">
    <meta charset="UTF-8">
    <title>DJ4E CheckList</title>
</head>
<body>
<header id="navigation" class="navbar-inverse navbar-fixed-top animated-header">
    <div class="container">
        <div class="navbar-header">
            <!-- ToDo: responsive nav button -->
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Menú</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!-- /responsive nav button -->

            <!-- logo -->
            <h1 class="navbar-brand">
                <a href="#body" style="color: inherit;">Simply <span style="color: rgb(255, 30, 30)">J</span>uan<span style="color: rgb(255, 30, 30)">j</span>o</a>
            </h1>
            <!-- /logo -->
        </div>

        <!-- main nav -->
        <nav class="collapse navbar-collapse navbar-right" role="navigation">
            <ul id="nav" class="nav navbar-nav">
                <li><a href="#home">Home</a></li>
                <li><a href="https://github.com/simplyJuanjo">Work</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="https://www.instagram.com/simplyjuanjo/">Social</a></li>
                <li><a href="https://www.linkedin.com/in/juanjodoolmo/">Contact</a></li>
                <li><a href="http://simplyJuanjo.PythonAnywhere.com"><span style="color: rgb(255, 30, 30)">CheckList</span></a></li>
            </ul>
        </nav>

        <!-- /main nav -->

    </div>
</header>
<div class="boxes">

    <label>This CheckList is a follow-up to Charles Severance's<a href=https://youtu.be/o0XbHvKxw7Y>DJ4E course</a>.</label>

    <input type="checkbox" id="box-1" checked>
    <label for="box-1">00:00:00 Why Teach Django? </label>

    <input type="checkbox" id="box-2" checked>
    <label for="box-2">00:07:04 Web Applications and the Request/Response Cycle</label>

    <input type="checkbox" id="box-3" checked>
    <label for="box-3">00:13:07 Exploring the HyperText Transfer Protocol</label>

    <input type="checkbox" id="box-4" checked>
    <label for="box-4">00:29:35 Using Sockets to Make Network Connections in Python</label>

    <input type="checkbox" id="box-5" checked>
    <label for="box-5">00:36:08 Building a Simple Web Browser in Python</label>

    <input type="checkbox" id="box-6" checked>
    <label for="box-6">00:44:47 Building a Simple HTTP Server in Python</label>

    <input type="checkbox" id="box-7" checked>
    <label for="box-7">01:00:53 Understanding Browser Developer Mode</label>

    <input type="checkbox" id="box-8" checked>
    <label for="box-8">01:10:35 The Structure of a Django Application</label>

    <input type="checkbox" id="box-9" checked>
    <label for="box-9">01:17:39 Installing Django on PythonAnywhere</label>

    <input type="checkbox" id="box-10" checked>
    <label for="box-10">01:34:32 HTML - HyperText Markup Language (Part 1)</label>

    <input type="checkbox" id="box-11" checked>
    <label for="box-11">01:40:25 HTML - HyperText Markup Language (Part 2)</label>

    <input type="checkbox" id="box-12" checked>
    <label for="box-12">01:54:17 Code Walk Through HTML</label>

    <input type="checkbox" id="box-13" checked>
    <label for="box-13">02:08:14 CSS - Cascading Style Sheets - (Part 1)</label>

    <input type="checkbox" id="box-14" checked>
    <label for="box-14">02:21:00 CSS - Cascading Style Sheets - (Part 2)</label>

    <input type="checkbox" id="box-15" checked>
    <label for="box-15">02:36:02 CSS - Cascading Style Sheets - (Part 3)</label>

    <input type="checkbox" id="box-16" checked>
    <label for="box-16">02:49:41 CSS - Sample Code Walkthrough (Part 1)</label>

    <input type="checkbox" id="box-17" checked>
    <label for="box-17">02:54:05 CSS - Sample Code Walkthrough (Part 2)</label>

    <input type="checkbox" id="box-18" checked>
    <label for="box-18">03:03:05 CSS - Sample Code Walkthrough (Part 3)</label>

    <input type="checkbox" id="box-19">
    <label for="box-19">03:28:53 Using GitHub With Django and PythonAnywhere</label>

    <input type="checkbox" id="box-20">
    <label for="box-20">03:35:48 Using ngrok to Submit Assignments to DJ4E</label>

    <input type="checkbox" id="box-21">
    <label for="box-21">03:41:53 How Databases Work</label>

    <input type="checkbox" id="box-22">
    <label for="box-22">04:00:49 Introduction to Structured Query Language (SQL)</label>

    <input type="checkbox" id="box-23">
    <label for="box-23">04:12:33 Demonstration: Basic SQL</label>

    <input type="checkbox" id="box-24">
    <label for="box-24">04:19:09 Introduction to Django Models</label>

    <input type="checkbox" id="box-25">
    <label for="box-25">04:39:06 Data Model Migration in Django</label>

    <input type="checkbox" id="box-26">
    <label for="box-26">04:47:00 Demonstration: Django Single Table Models</label>

    <input type="checkbox" id="box-27">
    <label for="box-27">04:58:08 Resetting your Django database on PythonAnywhere</label>

    <input type="checkbox" id="box-28">
    <label for="box-28">05:03:54 Django Models - Many-To-One Relationships - Music Database</label>

    <input type="checkbox" id="box-29">
    <label for="box-29">05:18:03 Model View Controller in Django</label>



<a href="https://www.flaticon.com/free-icons/tick" title="tick icons">Tick icons created by Roundicons - Flaticon</a>
</div>
</body>
</html>